[user]
    name = Alexander Held
    email = git@alexheld.io
[core]
	attributesfile = ~/.gitattributes
	excludesfile = ~/.gitignore
	editor = vim
	autocrlf = input
	safecrlf = warn
    excludesfile = ~/.gitignore
[mirror]
	summary = true
[branch]
	autosetupmerge = true
	autosetuprebase = always
[push]
	default = upstream
[help]
	autocorrect = 1

[github]
	user = alex-held



# http://bitfission.com/blog/2010/07/auto-merge-gemfile-lock.html
[merge "gemfilelock"]
	name = relocks the gemfile.lock
	driver = bundle install

[rerere]
	enabled = true

[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[web]
    browser = google-chrome
[credential]
    helper = osxkeychain
[push]
    default = simple
[merge]
    tool = kdiff3
[difftool]
    prompt = false
[alias]
  c = commit
  ca = commit -a
  cm = commit -m
  cam = commit -am
  d = diff
  dc = diff --cached
  l = log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit
